@*@model Appartments_MVC_Course.Models.Apartment*@
@model Appartments_MVC_Course.Dtos.ApartmentDtos
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<img src="@Model.ImageUrl" alt="@Model.City" class="details-img" />
<p>City: @Model.City</p>
<p>Street: @Model.Street</p>
<p>Apartment Number: @Model.AparatmentNumber</p>
<p>Description: @Model.Description</p>
<p>Price: @Model.PriceInILS ILS</p>
<p>Owner: Moshe</p>

<button class="btn btn-info">
    @Html.ActionLink("Back to Appartments", "", "Appartments")
</button>
<button class="btn btn-info">
    @Html.ActionLink("Edit apartment", "edit", "Appartments",new {id=@Model.Id},null)
</button>

