@*@model Appartments_MVC_Course.Models.Apartment*@
@*@model Appartments_MVC_Course.Dtos.ApartmentDtos*@
@model Appartments_MVC_Course.ViewModels.ApartmentDetailsViewModel
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    var apartment = Model.Apartment;
}

<img src="@apartment.ImageUrl" alt="@apartment.City" class="details-img" />
<p>City: @apartment.City</p>
<p>Street: @apartment.Street</p>
<p>Apartment Number: @apartment.AparatmentNumber</p>
<p>Description: @apartment.Description</p>
<p>Price: @apartment.PriceInILS ILS</p>
<p>Owner: @Model.OwnerName</p>

<button class="btn btn-info">
    @Html.ActionLink("Back to Appartments", "", "Appartments")
</button>
@if (@Model.CanEditApartment)
{
    <button class="btn btn-info">
        @Html.ActionLink("Edit apartment", "edit", "Appartments", new { id = apartment.Id }, null)
    </button>
}


